<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#3e454c">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/Styles/style.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Styles/font-awesome.min.css")" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/Styles/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Styles/dataTables.bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Styles/bootstrap-social.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Styles/bootstrap-select.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Styles/fileinput.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Styles/awesome-bootstrap-checkbox.css")" />
    <script src="@Url.Content("~/Scripts/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/bootstrap-select.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/Chart.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/fileinput.js")"></script>
    <script src="@Url.Content("~/Scripts/js/chartData.js")"></script>
    <script src="@Url.Content("~/Scripts/js/main.js")"></script>
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="@Url.Content("~/Scripts/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/bootstrap-select.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/Chart.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/fileinput.js")"></script>
    <script src="@Url.Content("~/Scripts/js/chartData.js")"></script>
    <script src="@Url.Content("~/Scripts/js/main.js")"></script>
</body>
</html>
