@model dynamic
<div>
    @Html.Partial("Header");
</div>
<div class="ts-main-content">
    @Html.Partial("HostelClerk_Sidebar");
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title">Manage Annual Dues</h2>
                    <div class="panel panel-default">
                        <div class="panel-heading">All Room Details</div>
                        <div class="panel-body">
                            <table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Allotte Name</th>
                                        <th>Amount</th>
                                        <th>Year</th>
                                        <th>Last date to submit</th>
                                        <th>Paid Status</th>
                                        <th>Paid Date</th>
                                        <th>Recipt No.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int i = 0;}
                                    @{ foreach (var x in ViewBag.data)
                                        {
                                            foreach (var g in x)
                                            {
                                                <tr>
                                                    <td>@ViewBag.names[i]</td>
                                                    <td>@g.dues_amount</td>
                                                    <td>@g.dues_session_month</td>
                                                    <td>@g.dues_lastDate</td>
                                                    <td>@g.dues_paidStatus</td>
                                                    <td>@g.dues_paidDate</td>
                                                    <td>@g.dues_recipt_no</td>
                                                </tr>
                                            }
                                            i++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>