<div class="ts-main-content">
    <div>
        @Html.Partial("Header")
    </div>
    <div>
        @Html.Partial("Warden_Sidebar")
    </div>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title" style="margin-top: 5%">Allottments</h2>
                    <div class="panel panel-default">
                        <div class="panel-heading">Room Details</div>
                        <div class="panel-body">
                            <table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Allottee Id</th>
                                        <th>Allottee Name</th>
                                        <th>Allottee Type</th>
                                        <th>Room No</th>
                                        <th>Allottee Status</th>
                                        <th>Time of Addition</th>
                                        <th>Allottment Added by</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @foreach (var s in Model)
                                {
                                    <tr>
                                        <td>@s.allottee_id</td>
                                        <td>@s.std_name</td>
                                        <td>@s.allotte_type</td>
                                        <td>@s.room_no</td>
                                        <td>@s.allotte_activeStatus</td>
                                        <td>@s.time_of_addition</td>
                                        <td>@s.user_name</td>
                                        <td>
                                            <a href="/Warden/View_Info/@s.allottee_id">See Info</a>
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Loading Scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/dataTables.bootstrap.min.js"></script>
<script src="js/Chart.min.js"></script>
<script src="js/fileinput.js"></script>
<script src="js/chartData.js"></script>
<script src="js/main.js"></script>
