<div>
    @Html.Partial("Header");
</div>
<div class="ts-main-content">
    @Html.Partial("Superitendant_Sidebar");
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title">Manage Mess Dues</h2>
                    <a class="btn btn-primary" name="generate" style="margin-bottom:2%" href="/Warden/Generate_MessRecord">Generate Mess Record</a>
                    <div class="panel panel-default">
                        <div class="panel-heading">All Room Details</div>
                        <div class="panel-body">
                            <table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Allotte Name</th>
                                        <th>Mess Dues</th>
                                        <th>Month</th>
                                        <th>Last date to submit</th>
                                        <th>Paid Status</th>
                                        <th>Paid Date</th>
                                        <th>Recipt No.</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int i = 0;}
                                    @{ foreach (var x in ViewBag.data)
                                        {
                                            foreach (var g in x)
                                            { 
                                                var lastDate = "";
                                                var paidDate = "";
                                                if(g.dues_lastDate != null)
                                                {

                                                    lastDate = g.dues_lastDate.ToString("yyyy-MM-dd");
                                                }
                                                if(g.dues_paidDate != null)
                                                {

                                                    paidDate = g.dues_paidDate.ToString("yyyy-MM-dd");
                                                }
                                                <tr>
                                                    <td>@ViewBag.names[i]</td>
                                                    <td><input name="amount" value="@g.dues_amount" type="text" pattern="[0-9]*" title="Only Digits" style="width:50px" /></td>
                                                    <td>@g.dues_session_month</td>
                                                    <td><input name="last_date" value="@lastDate" type="date" /></td>
                                                    <td>
                                                        <select name="paid_status">
                                                            <option value="@g.dues_paidStatus">@g.dues_paidStatus</option>
                                                            <option value="unpaid">Unpaid</option>
                                                            <option value="paid">Paid</option>
                                                        </select>
                                                    </td>
                                                    <td><input name="paid_date" value="@paidDate" type="date" /></td>
                                                    <td><input type="text" name="reciptno" pattern="[0-9]*" title="Only Digits" style="width:80px" /></td>
                                                    <td>
                                                        <a href="/HostelClerk/UpdateMess/@g.allottee_id?month=@g.dues_session_month" class="link_black" title="Update">UpdateMess</a>
                                                    </td>
                                                </tr>
                                            }
                                            i++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
 $('a').click(function (e) {
        e.preventDefault();
        var element = this;
        var row = $(this).parent().parent();
        $.ajax({
            url: $(this).attr("href"),
            type: "GET",
            data: {
                user_id: @Session["user_id"],
                amount: row.find("input[name=amount]").val(),
                lastDate: row.find("[name=last_date]").val(),
                paidStatus: row.find("[name=paid_status]").val(),
                paidDate: row.find("[name=paid_date]").val(),
                recipt: row.find("[name=reciptno]").val(),
                month: $(this).data("month")
            },
            dataType: "json",
            traditional: true,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.success) {
                    window.location.reload();
                }
            }

        });
    });
</script>