<div class="ts-main-content">
    <div>
        @Html.Partial("Header")
    </div>
    <div>
        @Html.Partial("VC_Sidebar")
    </div>
    <div class="content-wrapper" style="margin-top:8px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title">Student Details</h2>
                    <form method="post" action="" class="form-horizontal">
                        <div class="form-group">
                            <h3 class="col-sm-2 control-label" style="color: green">Personal Info: </h3>
                        </div>
                        @{foreach (var s in Model.b)
                            {
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Name: </label>
                                <div class="col-sm-4">
                                    <input type="text" value="@s.std_name" name="name" id="name" class="form-control" disabled>
                                </div>
                                <div class="col-sm-4">
                                    <img src="@s.std_img.Substring(0)" alt="Image not found" style="width:50px; height:50px" />
                                </div>
                            </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">CNIC (without dashes) : </label>
                                    <div class="col-sm-8">
                                        <input type="text" value="@s.std_cnic" name="cnic" id="cnic" class="form-control" disabled>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Father's name: </label>
                                    <div class="col-sm-8">
                                        <input type="text" value="@s.std_fatherName" name="fname" id="fname" class="form-control" disabled>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Parent/Guardian's Occupation: </label>
                                    <div class="col-sm-8">
                                        <input type="text" value="@s.std_fatherOccupation" name="occupation" id="occupation" class="form-control" disabled>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Monthly Income: </label>
                                    <div class="col-sm-8">
                                        <input type="text" value="@s.std_fatherIncome" name="income" id="income" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Present Home Address: </label>
                                    <div class="col-sm-8">
                                        <textarea rows="5" name="paddress" id="paddress" class="form-control" disabled>@s.std_presentAddress</textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Permanent Home Address: </label>
                                    <div class="col-sm-8">
                                        <textarea rows="5" name="permanentaddress" id="permanentaddress" class="form-control" disabled>@s.std_permanentAddress</textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">District: </label>
                                    <div class="col-sm-8">
                                        <input type="text" value="@s.std_district" name="district" id="district" class="form-control" disabled>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Cell Number (Student): </label>
                                    <div class="col-sm-8">
                                        <input type="text" value="@s.std_phone" name="stu_num" id="stu_num" class="form-control" disabled>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Cell Number (Guardian): </label>
                                    <div class="col-sm-8">
                                        <input type="text" value="@s.std_parentPhone" name="grd_num" id="grd_num" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="form-group" id="education">
                                    <label class="col-sm-2 control-label">Education: </label>
                                    <div class="col-sm-8">
                                        <table class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Degree</th>
                                                    <th>Total Marks</th>
                                                    <th>Obt. Marks</th>
                                                    <th>Year of Passing</th>
                                                    <th>Board/Uni</th>
                                                </tr>
                                            </thead>
                                            @foreach (var b in Model.e)
                                            {
                                                <tr>
                                                    <td>@b.edu_degree</td>
                                                    <td>@b.edu_totalMarks</td>
                                                    <td>@b.edu_marksObt</td>
                                                    <td>@b.edu_session</td>
                                                    <td>@b.edu_board_uni</td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </div><div class="form-group">
                                    <label class="col-sm-2 control-label">Blood Group </label>
                                    <div class="col-sm-8">
                                        <input type="text" value="@s.std_bloodGroup" name="blood" class="form-control" disabled>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Hepatits Report (HBSAg): </label>
                                    <div class="col-sm-8">
                                        <input type="text" value="@s.std_HBSAg_report" name="hbs" class="form-control" disabled>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Hepatits Report (Anti HCV): </label>
                                    <div class="col-sm-8">
                                        <input type="text" value="@s.std_antiHCV_report" name="hcv" class="form-control" disabled>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Nationality: </label>
                                    <div class="col-sm-8">
                                        <input type="text" value="@s.std_nationality" name="nationality" id="nationality" class="form-control" disabled>
                                    </div>
                                </div>

                            }
                        }
                        <div class="form-group">
                            <h3 class="col-sm-2 control-label" style="color: green">Allottment Details: </h3>
                        </div>
                        @{foreach (var s in Model.c)
                            {
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Hostel Number: </label>
                                    <div class="col-sm-8">
                                        <input type="text" value="@s.hostel_no" name="hostel_id" id="hostel_id" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Hostel Name: </label>
                                    <div class="col-sm-8">
                                        <input type="text" value="@s.hostel_name" name="hostel_name" id="hostel_name" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Hostel Location: </label>
                                    <div class="col-sm-8">
                                        <input type="text" value="@s.hostel_location" name="hostel_name" id="hostel_name" class="form-control" disabled>
                                    </div>
                                </div>
                            }
                        }

                        @{foreach (var s in Model.d)
                            {
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Room No: </label>
                                    <div class="col-sm-8">
                                        <input type="text" name="room_no" value="@s.room_no" id="room_no" class="form-control" disabled>
                                    </div>
                                </div>
                            }
                        }
                        <div class="form-group">
                            <h3 class="col-sm-2 control-label" style="color: green">Session Details: </h3>
                        </div>
                        @foreach (var a in Model.f)
                        {
                            foreach (var x in Model.g)
                            {
                                if (a.dep_id == x.dep_id)
                                {
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Institute/Department : </label>
                                        <div class="col-sm-8">
                                            <input type="text" value="@x.dep_name" name="dep" class="form-control" disabled>
                                        </div>
                                    </div>
                                }
                            }

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Degree in which Admitted: </label>
                                <div class="col-sm-8">
                                    <input type="text" value="@a.session_degree" name="class" id="class" class="form-control" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Roll Number: </label>
                                <div class="col-sm-8">
                                    <input type="text" name="roll_no" value="@a.session_rollno" id="roll_no" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Session Start: </label>
                                <div class="col-sm-8">
                                    <input type="text" value="@a.session_startDate" name="session_start" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Session End: </label>
                                <div class="col-sm-8">
                                    <input type="text" value="@a.session_endDate" name="session_end" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Batch: </label>
                                <div class="col-sm-8">
                                    <input type="text" value="@a.session_batch" name="session" id="Session" class="form-control" placeholder="Session" disabled>
                                </div>
                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>