<div class="ts-main-content">
    <div>
        @Html.Partial("Header")
    </div>
    <div>
        @Html.Partial("VC_Sidebar")
    </div>
		<div class="content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h2 class="page-title">Rooms</h2>
						<div class="panel panel-default">
							<div class="panel-heading">Room Details</div>
							<div class="panel-body">
                                <table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Room No</th>
                                            <th>Room Type</th>
                                            <th>Room Capacity</th>
                                            <th>Time of Addition</th>
                                        </tr>
                                    </thead>
                                        @foreach (var s in Model)
                                        {
                                <tr>
                                    <td>@s.room_no</td>
                                    <td>@s.room_type</td>
                                    <td>@s.room_capacity</td>
                                    <td>@s.time_of_addition</td>
                                </tr>
                                    }

                                    </table>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>s