<div class="ts-main-content">
    <div>
        @Html.Partial("Header");
    </div>
    <div>
        @Html.Partial("CHC_Sidebar");
    </div>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title">Add User</h2>
                    <div class="panel panel-default">
                        <div class="panel-heading">Add User</div>
                        <div class="panel-body">
                            <form action="/ChairmanHallCouncil/UserAdd" method="post" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">User_name:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="user_name" id="hostel_name" value="" pattern="[A-Za-z0-9_]{1,20}" title="No more than 20 Characters (alphabets,Digits, '_')" required="required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">User_Password:</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" name="user_passwd" id="hostel_name" value="" pattern=".{6,}" title="More than 6 characters" required="required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">User_role:</label>
                                    <div class="col-sm-8">
                                        <select name="user_role" class="form-control" required>
                                            <option value="">Select</option>
                                            <option value="vc">Vice Chancellor</option>
                                            <option value="chc">Chairman Hall Council</option>
                                            <option value="hc_clerk">Hall Council Clerk</option>
                                            <option value="superitendant">Superitendant</option>
                                            <option value="warden">Warden</option>
                                            <option value="hostel_clerk">Hostel Clerk</option>
                                            <option value="admin">Admin</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Hostel Assigned:</label>
                                    <div class="col-sm-8">
                                        <select name="hostel" class="form-control" required>
                                            <option value="0">None</option>
                                            @if (Model != null)
                                            {
                                                foreach (var s in Model)
                                                {
                                                    <option value="@s.hostel_id">@s.hostel_no (@s.hostel_location)</option>
                                                }
                                            }
                                        </select>

                                    </div>
                                </div>
                                <div class="col-sm-8 col-sm-offset-2">
                                    <input class="btn btn-primary" type="submit" id="submitButton" name="submit" value="Add">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var result = false;
    $('input[name=user_name]').blur(function (e) {
        $.ajax({
            url: "/Home/checkUser?username=" + $('input[name=user_name]').val(),
            type: "GET",
            success: function (data) {
                if (data.user_available) {
                    window.alert("Username already existing!")
                } else {
                    result = true;
                }
            }
        });
    });

    $("form").submit(function (e) {
        if (!result) {
            alert("Username already existing!")
        }
        return result;
    })

</script>
