
    <div class="ts-main-content">
        <div>
            @Html.Partial("Header");
        </div>
        <div>
            @Html.Partial("CHC_Sidebar");
        </div>
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="page-title" style="margin-top: 5%">Hostels</h2>
                        <div class="panel panel-default">
                            <div class="panel-heading">All Hostel Details</div>
                            <div class="panel-body">
                                <table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Hostel ID</th>
                                            <th>Hostel No.</th>
                                            <th>Hostel Name</th>
                                            <th>Location</th>
                                            <th>Hostel Type</th>
                                            <th>Time of Addition</th>
                                            <th>Hostel added by</th>
                                            <th>Hostel Status</th>
                                            <th>Total Rooms</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    @foreach (var s in Model)
                                    {
                                        <tr>
                                            <td>@s.hostel_id</td>
                                            <td>@s.hostel_no</td>
                                            <td>@s.hostel_name</td>
                                            <td>@s.hostel_location</td>
                                            <td>@s.hostel_type</td>
                                            <td>@s.time_of_addition</td>
                                            <td>@s.user_name</td>
                                            <td>@s.hostel_activeStatus</td>
                                            <td>@s.hostel_roomCount</td>
                                            <td>
                                                <a class="see-details" href="/ChairmanHallCouncil/View_rooms/@s.hostel_id">View Rooms</a>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Loading Scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/dataTables.bootstrap.min.js"></script>
<script src="js/Chart.min.js"></script>
<script src="js/fileinput.js"></script>
<script src="js/chartData.js"></script>
<script src="js/main.js"></script>
