<div class="ts-main-content">
    <div>
        @Html.Partial("Header");
    </div>
    <div>
        @Html.Partial("CHC_Sidebar");
    </div>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title">Users</h2>
                    <div class="panel panel-default">
                        <div class="panel-heading">All Hostel Details</div>
                        <div class="panel-body">
                            <table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>User ID</th>
                                        <th>User Name</th>
                                        <th>User Role</th>
                                        <th>User Status</th>
                                        <th>Hostel Assigned</th>
                                        <th>Time of Addition</th>
                                        <th>User added by</th>
                                    </tr>
                                </thead>
                                @foreach (var s in Model)
                                {
                                    <tr>
                                        <td>@s.user_id</td>
                                        <td>@s.user_name</td>
                                        <td>@s.user_role</td>
                                        <td>@s.user_activeStatus</td>
                                        <td>@s.hostel_id</td>
                                        <td>@s.time_of_addition</td>
                                        <td>@s.USERNAME</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
